<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="/scripts/jquery/jquery.min.js"></script>
    <script src="/scripts/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Welcome, <%= user.FirstName%></h1>
<a href="/auth/logout">Log out</a>
</body>
</html>