<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class="text-center">Your Travel App!</h1>
<div class="text-center"><a href="/auth/login"><img src="/assets/log_in_button_dark_med.png"></a></div>
</body>
</html>